.btn {
  &:link,
  &:visited {
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
  }

  &--outline {
    &:link,
    &:visited {
      color: $clr-green-dark;
      border: 2px solid currentColor;
      padding: 0.4rem 1.6rem;
    }
  }

  &--solid {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 2rem;
      color: $clr-gray-dark;
      background-color: $clr-green;
      padding: 0.8rem 3.2rem 1.2rem;
    }
  }
}
