.u-container {
  max-width: 120rem;
  margin-inline: auto;
}

.u-margin-bottom-sm {
  margin-bottom: 1.6rem;
}

.u-margin-bottom-md {
  margin-bottom: 3.2rem;
}

.u-text-center {
  text-align: center;
}
